[Desktop Entry]
Name=Pop Keyboard Shortcuts
Exec=pop-shortcuts %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.MyNameIs-13.CosmicPopShortcuts
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
